.swiper {
  width: 80vw;
  height: 120vw;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  box-shadow: 0 0 24px rgba(255, 255, 255, 0.5);
}

@media (min-width: 700px) {
  .swiper {
    width: 480px;
    height: 640px;
  }
}